.btn
  border: none
  padding: 0.3em 0.4em
  border-radius: 3px
  position: relative
  @extend %transition-sm
  @extend %cursor-hand

  &:hover,
  &:focus,
  &.active,
  &.__active
    background-color: #eee
    background-color: rgba(#aaa, 0.12)

  &:first-child
    margin-left: -0.4em

  &.btn-no-bg
    background-color: transparent

    &:hover,
    &:focus,
    &.active,
    &.__active
      color: #fff
