code
  font-family: "Menlo-Regular", monospace
  font-size: 82%
  padding: 0.1em 0.4em
  margin: -0.1em 0.2em
  display: inline-block
  white-space: nowrap
  border: none
  background: #f4f5f6
  color: #3c4752
  border-radius: 4px

  pre &
    padding: 1em
    display: block
    line-height: 1.3em
    overflow: auto
    white-space: pre
    margin: 0 -1em
    -webkit-overflow-scrolling: touch

.hljs-comment,
.hljs-title
  color: #B6A396

.hljs-regexp
  color: #a97f00

.hljs-tag .hljs-title,
.hljs-at_rule,
.hljs-important,
.hljs-tag,
.hljs-attr_selector
  color: #77829B

.hljs-id,
.hljs-class,
.hljs-pseudo
  color: violet

.hljs-number
  color: #DDAE00

.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant
  color: #E26B7F

.hljs-class .hljs-title,
.hljs-value
  color: #C86

.hljs-string
  color: #0096B3

.hljs-attribute
  color: #AD2C68

.hljs-hexcolor
  color: #B3AC00

.hljs-decorator,
.hljs-title,
.hljs-title,
.hljs-sub,
.hljs-title
  color: #6699cc

.hljs-keyword,
.hljs-function
  color: #2668d2
