=font-face($path, $weight, $style)
  $path: "../fonts/#{$path}"
  @font-face
    font-family: "sans"
    src: url("#{$path}.eot")
    src: url("#{$path}.eot?#iefix") format('embedded-opentype'), url("#{$path}.woff") format("woff"), url("#{$path}.woff2") format("woff2")
    font-weight: $weight
    font-style: $style

// +font-face("philippa/Philippa-Regular",  400,  normal)
// +font-face("philippa/Philippa-SemiBold", bold, normal)
// +font-face("philippa/Philippa-Light",    300,  normal)


+font-face("antipode/Antipode-Regular",  400,  normal)
+font-face("antipode/Antipode-SemiBold", bold, normal)
+font-face("antipode/Antipode-Light",    300,  normal)
