extends ../../partials/project

block prepend config
  - var project = data.getOne("fonts",  "vernacular");

block append article
  .gallery.stretch(autocorrect="off" spellcheck="false")
    #item-1.gallery-item.p-xxl.flex-evenly.bg-hl
      div(contenteditable)
        .t-4.f-g-900
          | Natural Language Processing

    #item-2.gallery-item.p-v-xxl.p-h-lg.flex-evenly
      .txt-center.t-3
        .f-g-200(contenteditable) JURISPRUDENCE
        .f-g-300(contenteditable) MEGALOMANIAC
        .f-g-400(contenteditable) OBSTREPEROUS
        .f-g-500(contenteditable) SHADOWBOXED
        .f-g-600(contenteditable) VERISIMILITUDE
        .f-g-700(contenteditable) PASQUINADING
        .f-g-800.txt-hl(contenteditable) RAZZLE DAZZLE
        .f-g-900(contenteditable) APPARATCHIKS

    #item-3.gallery-item
      .flex-stretch.stretch.txt-center
        .f-g-900.flex-evenly.bg-hl.t-3.p-v-md
          span(contenteditable) raison d’être
        .f-g-300.flex-evenly.t-3.p-v-md
          span(contenteditable) cultural malaise
        .f-g-200.flex-evenly.bg-lt.t-3.p-v-md
          span(contenteditable) Lilliputian
        .f-g-600.flex-evenly.p-v-md
          .t-3.txt-ulc(contenteditable)
            span.txt-mt.txt-ul Encephalogram
        .f-g-400.flex-evenly.bg-lt.txt-hl.t-3.p-v-md
          span(contenteditable) 
            | x = <span class="txt-numr">(5,129)</span>⁄<span class="txt-dnom">3.14 </span>
        .f-g-500.flex-evenly.bg-dk.t-3.p-v-md
          span.txt-hl(contenteditable) Makers Market

    #item-4.gallery-item.p-v-xxl.p-h-lg.flex-between.txt-center
      .p-v-sm
        .f-g-900.t-2(contenteditable) Classical Pantheism
      .p-v-sm
        .f-g-800.t-2(contenteditable) Antipodal Signalling
      .p-v-sm
        .f-g-700.t-2(contenteditable) Elizabethan Morality
      .p-v-sm
        .f-g-600.t-2(contenteditable) Gestural Abstraction
      .p-v-sm
        .f-g-500.t-2(contenteditable) Cultural Criminology
      .p-v-sm
        .f-g-400.t-2(contenteditable) People’s Government
      .p-v-sm
        .f-g-300.t-2(contenteditable) Keynesian Economics
      .p-v-sm
        .f-g-200.t-2(contenteditable) Foucault’s Panopticon

    #item-5.gallery-item.p-xxl.flex-evenly
      dl
        dt Font Details
        dd 
          | Designed using the backbone of the Svenska typeface, but 
          | rationalised for a less ideosyncatric appearance. Classic 
          | grotesque proportions deliver a sensible personality, appropriate 
          | for corporate or academic contexts. Maintaining some of the 
          | character of more primitive grotesques can add a small amount of 
          | flavour without dominating the page. Details are beautified for a
          | stronger appearance at display sizes.

        .col-wrap
          .col-sm
            dt Glyphs
            dd.txt-sm  1,203
          .col-sm
            dt Weights
            dd.txt-sm  8
          .col-sm
            dt Includes
            dd.txt-sm  Matching Italics
            | &nbsp;

        dt Language Support
        dd.txt-sm 
          | Afrikaans, Albanian, Asturian, Asu, Azerbaijani, Basque, Bemba, 
          | Bena, Bosnian, Breton, Catalan, Chiga, Colognian, Cornish, 
          | Croatian, Czech, Danish, Dutch, Embu, English, Esperanto, 
          | Estonian, Faroese, Filipino, Finnish, French, Friulian, 
          | Galician, Ganda, German, Greek, Gusii, Hawaiian, Hungarian, 
          | Icelandic, Igbo, Inari Sami, Indonesian, Irish, Italian, 
          | Jola-Fonyi, Kabuverdianu, Kalenjin, Kamba, Kikuyu, Kinyarwanda, 
          | Latvian, Lithuanian, Low German, Lower Sorbian, Luo, 
          | Luxembourgish, Luyia, Machame, Makhuwa-Meetto, Makonde, 
          | Malagasy, Malay, Maltese, Manx, Meru, Morisyen, Nama, North 
          | Ndebele, Northern Sami, Norwegian Bokmål, Norwegian Nynorsk, 
          | Nyankole, Oromo, Polish, Portuguese, Quechua, Romanian, Romansh, 
          | Rombo, Rundi, Rwa, Samburu, Sango, Sangu, Scottish Gaelic, Sena, 
          | Shambala, Shona, Slovak, Slovenian, Soga, Somali, Spanish, 
          | Swahili, Swedish, Swiss German, Taita, Teso, Tongan, Turkish, 
          | Turkmen, Upper Sorbian, Uzbek, Vunjo, Walser, Welsh, Western 
          | Frisian, Yoruba and Zulu

        dt OpenType Features
        dd.txt-sm
          | Alternates, Capitals to Small Caps, Case Sensive Forms, Glyph 
          | Composition &amp; Decomposition, Discretionary Ligatures, 
          | Denominator, Fractions, Standard Ligatures, Lining Figures, 
          | Localized Forms, Numerator, Oldstyle Figures, Ordinals, 
          | Proportional Figures, Tabular Figures, Scientific Inferiors, 
          | Small Caps, Subscript and Superscript
