extends ../../partials/project

block prepend config
  - var project = data.getProject("nice-to-meet-you");

block project
  :marked
    This was conceived as a simple but fun book for children and adults, and 
    remains a work in progress. Eventually I would like to couple each page 
    with a facing page of illustrations for each name.

    With 388 names over 10 pages, it’s nearly impossible to make it through
    in one run. My favourite is the couplet:

    > Jared, Jacob, Giaconda.<br>
    > Molly, Wanda, Wally, Rhonda.

    ---

    ![Nice to meet you - Page 1](/img/projects/nice-to-meet-you/page-1.png)
    
    ![Nice to meet you - Page 2](/img/projects/nice-to-meet-you/page-2.png)
    
    ![Nice to meet you - Page 3](/img/projects/nice-to-meet-you/page-3.png)
    
    ![Nice to meet you - Page 4](/img/projects/nice-to-meet-you/page-4.png)
    
    ![Nice to meet you - Page 5](/img/projects/nice-to-meet-you/page-5.png)
    
    ![Nice to meet you - Page 6](/img/projects/nice-to-meet-you/page-6.png)
    
    ![Nice to meet you - Page 7](/img/projects/nice-to-meet-you/page-7.png)
    
    ![Nice to meet you - Page 8](/img/projects/nice-to-meet-you/page-8.png)
    
    ![Nice to meet you - Page 9](/img/projects/nice-to-meet-you/page-9.png)
    
    ![Nice to meet you - Page 10](/img/projects/nice-to-meet-you/page-10.png)
