* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #1f333e;
  background-color: #f4f6f8;
  font-family: Sans;
  text-align: center;
}

#inbound {
  padding: 40px 0;
  max-width: 800px;
  margin: auto;
}

[contenteditable] {
  outline: none;
  transition: background 300ms;
  min-height: 1em;
}

[contenteditable]:after {
  content: " ";
}

[contenteditable]:hover {
  background: rgba(255,255,255,0.05);
}

.rendering [contenteditable],
[contenteditable]:focus {
  background: transparent;
}

#wrapper {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
}

#card {
  width: 800px;
  text-rendering: geometricPrecision;
}

.drag #canvas {
  background: #000;
}

.rendering #canvas {
  background: inherit;
}

.width-narrow #card {
  border-color: rgba(255,255,255,0.12);
  border-width: 0 80px;
  border-style: solid;
}

#canvas {
  width: auto;
  color: #fff;
  padding: 60px;
  margin: auto;
  overflow: hidden;
  background: inherit;
  position: relative;
  z-index: 0;
  transition: background-color 300ms;
}

#canvas-overlay,
#canvas-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: no-repeat center;
  background-size: cover;
  z-index: -1;
}
.opacity-1 #canvas-img {
  opacity: 0.1;
}
.opacity-2 #canvas-img {
  opacity: 0.2;
}
.opacity-3 #canvas-img {
  opacity: 0.3;
}
.opacity-4 #canvas-img {
  opacity: 0.4;
}
.opacity-5 #canvas-img {
  opacity: 0.5;
}
.opacity-6 #canvas-img {
  opacity: 0.6;
}
.opacity-7 #canvas-img {
  opacity: 0.7;
}

.style-luminosity #canvas-img {
  mix-blend-mode: luminosity;
}
.style-normal #canvas-img {
  mix-blend-mode: normal;
}

#open-quote,
#close-quote {
  font-size: 400px;
  position: absolute;
  line-height: 0;
  font-weight: 800;
  opacity: 0.08;
  top: 44px;
  left: 38px;
  display: none;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  position: relative;
}

h2 {
  font-size: 21px;
  line-height: 40px;
  margin-top: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

h3 {
  font-size: 21px;
  margin-top: 28px;
  padding-top: 32px;
  border-top: 1px solid rgba(255,255,255,0.3);
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  height: 3em;
}

h3 span {
  float: left;
}

#logo {
  display: inline-block;
  background: no-repeat center;
  background-size: contain;
  vertical-align: middle;
  position: relative;
  margin-left: 4px;
}

fieldset {
  border: none;
  padding: 12px;
}

fieldset + fieldset {
  border-top: 1px solid #eaeef1;
}

fieldset p {
  margin-top: 8px;
}

select {
  -webkit-appearance: none;
  font: inherit;
  border: none;
  color: inherit;
  background: transparent;
  padding: 0;
  height: 40px;
  margin: -8px -12px;
  display: block;
  padding: 8px 36px 8px 12px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  min-width: 100px;
}

select[disabled] {
  cursor: not-allowed;
  opacity: 0.3;
}


label {
  float: left;
  text-align: left;
  padding-right: 12px;
}

.btn,
strong {
  font-weight: 600;
}

.btn {
  font-size: 18px;
  color: inherit;
  background: #ebeef1;
  text-decoration: none;
  padding: 8px 12px;
  line-height: 24px;
  border-radius: 4px;
  transition: background 300ms;
}

select:focus,
.btn:hover,
.btn:focus {
  background: #d4dde4;
  cursor: pointer;
  outline: none;
}

#download {
  float: right;
  margin-top: 27px;
}

.select-wrap {
  position: relative;
  border-radius: 4px;
  margin-top: 8px;
}

.select-wrap:after {
  content: "";
  border: 6px solid transparent;
  border-top-color: currentColor;
  border-top-width: 7px;
  position: absolute;
  opacity: 0.3;
  right: 12px;
  top: 17px;
  pointer-events: none;
}

#preview {
  display: block;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.type-interpreter #card {
  background: rgba(49, 54, 60, 1);
}

.type-interpreter #canvas-overlay {
  background-image: linear-gradient(to bottom, rgba(49, 54, 60, 0.7), transparent);
}

.type-interpreter h2 {
  color: #ff9300;
}

.type-interpreter #logo {
  background-image: url("./the-interpreter.png");
  width: 148px;
  height: 28px;
  top: -2px;
}

.type-lowy #card {
  background: rgba(0, 43, 69, 1);
}

.type-lowy #canvas-overlay {
  background-image: linear-gradient(to bottom, rgba(0, 43, 69, 0.7), transparent);
}

.type-lowy h2 {
  color: #539fd5;
}

.type-lowy #logo {
  background-image: url("./lowy-institute.png");
  width: 156px;
  height: 18px;
  top: -2px;
}

.style-normal #canvas-overlay {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent);
}
