doctype html
html.no-js(lang="en")
  head
    meta(name="robots" content="noindex, nofollow")
    style
      include fonts.css
      include cards.css

  body
    #inbound
      #wrapper(data-view="views/card")
        #card
          #canvas
            #canvas-img
            #canvas-overlay
            h1
              span(contenteditable)
                | It does not even matter whether the story is accurate or not
                | because the damage has already been done.

            h2
              span(contenteditable) Samm Sacks

            h3
              span(contenteditable) Read more on
              #logo

        fieldset
          label
            | Branding
            .select-wrap.btn
              select(name="type")
                option(value="interpreter") The Interpreter
                option(value="lowy") Lowy Institute
          label
            | Card Width
            .select-wrap.btn
              select(name="width")
                option(value="wide") Wide
                option(value="narrow") Narrow
          label
            | Opacity
            .select-wrap.btn
              select(name="opacity" disabled)
                option(value="1") 10%
                option(value="2") 20%
                option(value="3" selected) 30%
                option(value="4") 40%
                option(value="5") 50%
                option(value="6") 60%
                option(value="7") 70%
          label
            | Style
            .select-wrap.btn
              select(name="style" disabled)
                option(value="luminosity") Monotone
                option(value="normal") Colour

          a#download.btn
            | Download

        fieldset
          p
            | Click the text to update the quote, author and call to action.
            br
            strong Drag and drop an image
            |  on the card to add a background.
            br
            | Choose the brand and width, and then you're ready to download the image.

          img#preview


    script(type="text/javascript" src="d2i.js")
    script(type="text/javascript" src=`/js/vendor.${version}.js`)
    script(type="text/javascript" src=`/js/app.${version}.js`)
    script(type="text/javascript").
      $(document).ready(function(){
        require("app").initialize();
      })
