extends ../../partials/project

block prepend config
  - var project = data.getProject("msf");

block project
  :marked
     Working with global charity MSF this microsite successfully helped to 
     promote current issues and drive donations from a younger demographic. 
     It’s templated design empowered content managers to periodically refresh 
     the site’s content with minimal overhead.
