//- .txt-muted.txt-sm.txt-normal
:marked
  If you want to get in touch, shoot me an [email]. 
  Maybe we can build something together.
  You can also find me on [Github]&nbsp;&amp;&nbsp;[Dribbble].

  [email]: mailto:stephen@s-ings.com
  [Github]: https://github.com/stephenhutchings
  [Dribbble]: https://dribbble.com/s-ings
