footer#footer.text-sm
  h4 Sydney-based UI/UX Designer, Art Director &amp; Front End Developer

  :marked
    If you want to get in touch, shoot me an [email][1].
    Maybe we can build something together.
    
    You can also find me on [Github][2].

    [1]: mailto:stephen@s-ings.com
    [2]: https://github.com/stephenhutchings
    [3]: #message
