extends layout

block append config
  - var project = data.getOne("projects", projectPath);
  - page.class = "page-project";
  - page.title = project.name;
  - page.description = project.desc;

block content
  .col-sm
    h1.tile-title!= project.name
    h2.hl-block
      for line in _.chunk(project.desc.split(" "), 5)
        span.highlight!= typogr.typogrify(line.concat("").join(" "))

    include project-links

    hr.tight

  .col-wrap
    block project-full
      .col-lg
        block project

  include project-links

block append scripts
  script(type="application/ld+json").
    {
      "@context": "http://s-ings.com",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "http://s-ings.com/projects",
          "name": "Projects"
        }
      },{
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "http://s-ings.com/projects/#{projectPath}",
          "name": "#{project.name}"
        }
      }]
    }
