.col-wrap
  clear: both
  @extend %clearfix

.col-xs,
.col-sm,
.col-md,
.col-lg,
.col-full
  max-width: 100%
  float: left
  margin: 0 2em 2em 0

.col-full
  margin-right: 0

.col-xs
  width: 140px

.col-sm
  width: 280px

.col-md
  width: 480px

.col-lg
  width: 640px

.col-newline
  clear: left
