#inbound,
#outbound
  overflow: hidden
  background: white

  .no-js &
    padding-bottom: 0

  @media (min-width: 1000px) and (min-height: 720px)
    min-height: 100%

#inbound
  position: relative
  z-index: 10
  @extend %clearfix

#outbound
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 0

.content
  position: relative
  transition: all 500ms
  height: 100%
  opacity: 0

  #inbound.ready &,
  .no-js &
    opacity: 1
