#crossword
  max-width: 224px
  overflow: hidden
  transform: translate3d(0, 0, 0)
  margin-right: -120px

  .btn,
  .crossword-letter
    pointer-events: all

  .no-js &
    display: none

  .crossword-letters
    font-size: 28px
    text-align: center
    text-transform: uppercase
    margin: 0.5em 0
    @extend %clearfix

  .crossword-letter,
  .crossword-hyphen
    float: left

  .crossword-letter
    width: 28px
    height: 2.8rem
    line-height: 2.8rem
    margin: -0.3em 4px -0.2em 0
    border-bottom: 4px solid #555
    border-bottom-color: rgba(#fff, 0.3)
    box-sizing: border-box
    position: relative
    transition: all 1200ms $bounce, background-color 300ms
    transform: translate3d(0, 0, 0)
    overflow: hidden

    &.disabled
      border-bottom-color: transparent
      background: #333
      background-color: rgba(#000, 0.8)
      border-radius: 3px

    &.focus
      background-color: #555
      background-color: rgba(#fff, 0.3)
      border-bottom-color: transparent
      border-radius: 3px

  .crossword-mask
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0

  .crossword-input
    padding: 0
    opacity: 0
    display: block
    width: inherit
    border: none
    height: inherit
    text-align: center
    font: inherit
    background: transparent
    @extend %cursor-hand

    &:focus
      outline: none
      transform: scale(0)

  .crossword-mask
    z-index: 1
    pointer-events: none

  .crossword-definition
    transition: all 800ms $bounce
    height: 1.7647058824 * 2em

  &.success
    .crossword-letter
      opacity: 0
      transform: translate3d(0, -16px, 0)

    .crossword-definition
      opacity: 0
      transform: translate3d(0, 16px, 0)
