#footer
  width: 296px
  padding: 0 0 64px
  z-index: 10
  position: relative

  h4
    width: 380px
    display: block
    color: #999
    margin-bottom: 12px
    font-weight: normal
    font-size: 85%

    @media (max-width: 480px)
      width: 220px

  p
    @extend .tight
