#footer
  z-index: 0
  position: relative
  min-height: 40vh
  background-image: none
  transition: background 300ms !important

  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(darken($dark, 8), 0.2)
    z-index: -3

  .txt-muted
    color: rgba(#fff, 0.7)

  .btn:first-child
    margin-left: -0.6em

  @media (max-width: 820px)
    .col-fluid
      width: 50%

    .crossword-wrap
      width: 100%

  .txt-muted,
  .thumb .btn
    @extend %transition-md

  .thumb .btn
    pointer-events: all
    &:hover,
    &:focus
      background: rgba(#000, 0.9)
      opacity: 1

  .thumb-bg
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    pointer-events: none
    z-index: -2
    transition: opacity 800ms 200ms
    background-size: cover
    background-position: center
    opacity: 0
    background-blend-mode: normal
    background-image: linear-gradient(to bottom, $dark, rgba($dark, 0.8))

  .thumb
    &:hover,
    a:focus +
      .thumb-bg
        opacity: 1
        z-index: -1
        transition-delay: 0ms

.thumb-bg
  #footer .font-philippa &
    background-image: url(/img/thumbs/philippa-reveal.svg)
  #footer .font-svenska &
    background-image: url(/img/thumbs/svenska-reveal.svg)
  #footer .font-golumpki &
    background-image: url(/img/thumbs/golumpki-reveal.svg)
  #footer .font-ed-sans &
    background-image: url(/img/thumbs/ed-sans-reveal.svg)
  #footer .font-vernacular &
    background-image: url(/img/thumbs/vernacular-reveal.svg)
  #footer .font-antipode &
    background-image: url(/img/thumbs/antipode-reveal.svg)
  #footer .project-asterisms &
    background-image: url(/img/projects/asterisms/asterisms-reveal.jpg)
  #footer .project-console-log &
    background-image: url(/img/projects/console-log/console-log-reveal.jpg)
  #footer .project-gordian-knots &
    background-image: url(/img/projects/gordian-knots/gordian-knot-reveal.jpg)
  #footer .project-typicons &
    background-image: url(/img/thumbs/typicons-reveal.svg)
  #footer .project-microns &
    background-image: url(/img/thumbs/microns-reveal.svg)
  #footer .project-illustration &
    background-image: url(/img/projects/illustration/illustration-reveal.png)
