.bg-dk,
.bg-hl
  color: #fff
  transition: background 300ms, color 300ms

.bg-dk
  background: #181818

.bg-hl
  background: $highlight

.bg-lt
  background: #f3f5f6

.bg-hl,
.bg-dk
  background-image: linear-gradient(to bottom right, rgba(#fff, 0.15), rgba(#000, 0.15))
  background-blend-mode: overlay

.txt-hl
  color: $highlight
