extends ../../partials/project

block prepend config
  - var project = data.getOne("fonts",  "ed-sans");

block append config
  - page.style.background = "white"

block prepend description
  style
    include /../assets/fonts/ed-sans/icons.css

block append article
  .gallery.stretch
    #item-1.gallery-item.pv-xxl.ph-lg.flex-between.bg-hl.txt-center
      .pv-md
        .f-g-300.t-3 All your
        .f-g-300.t-3 learning needs.
        .f-g-600.t-3 One platform.

      .pv-md
        p.f-g-700
          small DEPLOY ANYWHERE

      .pv-md.f-g-400
        p.t-2
          | Mobile-first, responsive<br>
          | courseware designed for<br>
          | iOS, Android and the web

      .pv-md.f-g-400i
        p
          em
            | Authoring beautiful, engaging and efficient
            br
            | microlearning courses has never been easier

    #item-2.gallery-item.pv-xxl.ph-xxl.flex-between
      .pv-md
        .t-3.f-g-300 Beautiful, engaging and effective

      .pv-md.f-g-400
        p
          | Our mobile first template library will provide inspiration to
          | create a whole variety of beautifully crafted lessons easily.

        p
          | There are templates available for all facets of learning for you
          | to populate with your video, text, and imagery all allowing for
          | full personalisation.

        p
          | Our pre-built games are also a part of the template library to
          | help reinforce key concepts and ensure message retention in a fun
          | and memorable way.

    #item-3.gallery-item
      .flex-stretch.txt-center.stretch
        .bg-dk.pv-xxl.ph-xxl.flex-evenly
          .f-g-300.t-2
            span
              strong.f-g-600 Welcome to Ed,
              |  the world’s smartest
              | learning platform.

        .bg-hl.pv-xxl.ph-xxl.flex-evenly
          .f-g-300.t-2
            span
              | Ed is easy and
              strong.f-g-600  free to try
              |  for you and your team.

    #item-4.gallery-item.p-xxl.flex-evenly
      dl
        dt Font Details
        dd
          :marked
            Ed Sans is the corporate typeface of **edapp.com**. It was designed
            exclusively for the platform to service their needs across digital
            and print media. It offers a warm personality to ease the learning
            experience, without overwhelming client brands. Softly rounded
            corners and a short caps height help strengthen the personality.
            Supporting true italics make the font work across a broad range of
            use cases.

        .col-wrap
          .col-sm
            dt Weights
            dd.txt-sm  8
            | &nbsp;
          .col-sm
            dt Widths
            dd.txt-sm  4
            | &nbsp;
          .col-sm
            dt Includes
            dd.txt-sm  Matching Italics

        dt Language Support
        dd.txt-sm
          | Afrikaans, Albanian, Asturian, Asu, Azerbaijani, Basque, Bemba,
          | Bena, Bosnian, Breton, Catalan, Chiga, Colognian, Cornish,
          | Croatian, Czech, Danish, Dutch, Embu, English, Esperanto,
          | Estonian, Faroese, Filipino, Finnish, French, Friulian,
          | Galician, Ganda, German, Greek, Gusii, Hawaiian, Hungarian,
          | Icelandic, Igbo, Inari Sami, Indonesian, Irish, Italian,
          | Jola-Fonyi, Kabuverdianu, Kalenjin, Kamba, Kikuyu, Kinyarwanda,
          | Latvian, Lithuanian, Low German, Lower Sorbian, Luo,
          | Luxembourgish, Luyia, Machame, Makhuwa-Meetto, Makonde,
          | Malagasy, Malay, Maltese, Manx, Meru, Morisyen, Nama, North
          | Ndebele, Northern Sami, Norwegian Bokmål, Norwegian Nynorsk,
          | Nyankole, Oromo, Polish, Portuguese, Quechua, Romanian, Romansh,
          | Rombo, Rundi, Rwa, Samburu, Sango, Sangu, Scottish Gaelic, Sena,
          | Shambala, Shona, Slovak, Slovenian, Soga, Somali, Spanish,
          | Swahili, Swedish, Swiss German, Taita, Teso, Tongan, Turkish,
          | Turkmen, Upper Sorbian, Uzbek, Vunjo, Walser, Welsh, Western
          | Frisian, Yoruba and Zulu

        dt OpenType Features
        dd.txt-sm
          | Alternates, Capitals to Small Caps, Case Sensive Forms, Glyph
          | Composition &amp; Decomposition, Discretionary Ligatures,
          | Denominator, Fractions, Standard Ligatures, Lining Figures,
          | Localized Forms, Numerator, Oldstyle Figures, Ordinals,
          | Proportional Figures, Tabular Figures, Scientific Inferiors,
          | Small Caps, Subscript and Superscript


  style
    :sass
      #font-tester-wrap
        border-top: 1px solid
        border-bottom: 1px solid

      #font-tester
        height: 440px
        word-break: break-all
        margin: 0 -8px

        p
          margin-bottom: 8px

      #font-tester-mask
        position: absolute
        top: -80px
        height: 960px
        width: 960px
        left: 50%
        margin-left: -480px
        border-radius: 480px
        padding-top: 80px

      .digit
        width: 0.7em
        display: inline-block

//- liquored ex-army privates whinged about jazz funk
//- ex-army privates with king of juicy liquid buzz

//- Sexist fuzz drive quickly
//- up major roads howling.
