extends ../../partials/project

block prepend config
  - var project = data.getOne("fonts",  "golumpki");

block append article
  .gallery.stretch(autocorrect="off" spellcheck="false")
    #item-1.gallery-item.p-v-xxl.p-h-lg.flex-evenly.bg-hl
      .txt-center.t-6
        for c in "1kg"
          for font, i in [].concat(project.font.variants).reverse()
            span(
              class="f-g-#{font.weight}"
              style=[
                "display: inline-block",
                i !== 8 ? "opacity: 0.05" : "",
                i !== 8 ? "width: 0" : ""
              ].join(";")
            )
              = c

    #item-2.gallery-item
      .flex-stretch.stretch.t-3.txt-center
        .f-g-300.flex-evenly.bg-hl.p-v-lg
          span “hollandaise”
        .flex-evenly.bg-dk.p-v-lg
          .f-g-500
            span.txt-hl MkII
            sup.txt-sup ®
        .flex-evenly.p-v-lg
          .f-g-600.txt-ulc
            span.txt-mt.txt-ul Sophomoric
        .flex-evenly.bg-lt.p-v-lg
          .f-g-100
            | Kandin
            span.bg-hl sky
            | ?
        .flex-evenly.p-v-lg
          .f-g-400.num-osf
            span.txt-hl 52%, 1998
            sup.txt-sup †

    #item-3.gallery-item.p-v-xxl.p-h-md.flex-evenly.txt-center.bg-dk
      .row
        .col-md.p-v-sm
          small.txt-hl 100 / Hairline
          .f-g-100.t-2(contenteditable) Smacznego!
        .col-md.p-v-sm
          small.txt-hl 250 / ExtraLight
          .f-g-200.t-2(contenteditable) Buon appetito!
        .col-md.p-v-sm
          small.txt-hl 300 / Light
          .f-g-300.t-2(contenteditable) Smaklig måltid!
        .col-md.p-v-sm
          small.txt-hl 400 / Regular
          .f-g-400.t-2(contenteditable) Ta fañocho!
        .col-md.p-v-sm
          small.txt-hl 500 / Medium
          .f-g-500.t-2(contenteditable) Guten appetit!
        .col-md.p-v-sm
          small.txt-hl 600 / SemiBold
          .f-g-600.t-2(contenteditable) Smakelijk!
        .col-md.p-v-sm
          small.txt-hl 700 / Bold
          .f-g-700.t-2(contenteditable) Tämle bulsın!
        .col-md.p-v-sm
          small.txt-hl 800 / ExtraBold
          .f-g-800.t-2(contenteditable) Dobrú chuť!
        .col-md.p-v-sm
          small.txt-hl 900 / Black
          .f-g-900.t-2(contenteditable) Jó étvágyat!

    #item-4.gallery-item.p-v-xxl.p-h-xxl.flex-evenly.bg-lt
      .f-g-100.t-6.txt-hl 8
      .f-g-300.t-1.p-h-sm
        | Lay a cabbage leaf down on a flat surface, so you can roll it
        | easily. Take some of the mixture and form it into a large 
        | meatball. You may make these as large or as small as you 
        | want, it’s up to you. Place the meatball in the center of the 
        | cabbage leaf and wrap the cabbage leaf around the mixture.

    #item-5.gallery-item.p-xxl.flex-evenly
      dl
        dt Font Details
        dd
          | Slab-serif with distinctive lower case “k” and “g” characters.
          | The lighter weights are more refined, while heavier varieties
          | curve and bounce. Ideal for large display sizes where the curves 
          | can be appreciated, but still functions well for smaller text.

        .col-wrap
          .col-sm
            dt Glyphs
            dd.txt-sm  883

          .col-sm
            dt Weights
            dd.txt-sm  9
            | &nbsp;

        dt Language Support
        dd.txt-sm 
          | Afrikaans, Albanian, Asturian, Asu, Azerbaijani, Basque, Bemba, 
          | Bena, Bosnian, Breton, Catalan, Chiga, Colognian, Cornish, 
          | Croatian, Czech, Danish, Dutch, Embu, English, Esperanto, 
          | Estonian, Faroese, Filipino, Finnish, French, Friulian, 
          | Galician, Ganda, German, Greek, Gusii, Hawaiian, Hungarian, 
          | Icelandic, Igbo, Inari Sami, Indonesian, Irish, Italian, 
          | Jola-Fonyi, Kabuverdianu, Kalenjin, Kamba, Kikuyu, Kinyarwanda, 
          | Latvian, Lithuanian, Low German, Lower Sorbian, Luo, 
          | Luxembourgish, Luyia, Machame, Makhuwa-Meetto, Makonde, 
          | Malagasy, Malay, Maltese, Manx, Meru, Morisyen, Nama, North 
          | Ndebele, Northern Sami, Norwegian Bokmål, Norwegian Nynorsk, 
          | Nyankole, Oromo, Polish, Portuguese, Quechua, Romanian, Romansh, 
          | Rombo, Rundi, Rwa, Samburu, Sango, Sangu, Scottish Gaelic, Sena, 
          | Shambala, Shona, Slovak, Slovenian, Soga, Somali, Spanish, 
          | Swahili, Swedish, Swiss German, Taita, Teso, Tongan, Turkish, 
          | Turkmen, Upper Sorbian, Uzbek, Vunjo, Walser, Welsh, Western 
          | Frisian, Yoruba and Zulu

        dt OpenType Features
        dd.txt-sm
          | Alternates, Capitals to Small Caps, Case Sensive Forms, Glyph 
          | Composition &amp; Decomposition, Discretionary Ligatures, 
          | Denominator, Fractions, Standard Ligatures, Lining Figures, 
          | Localized Forms, Numerator, Oldstyle Figures, Ordinals, 
          | Proportional Figures, Tabular Figures, Scientific Inferiors, 
          | Small Caps, Subscript and Superscript
