extends ../../partials/project

block prepend config
  - var project = data.getOne("fonts",  "svenska");

block append article
  .gallery.stretch(autocorrect="off" spellcheck="false")
    #item-1.gallery-item.p-v-xxl.p-h-lg.flex-evenly
      .txt-center.t-3
        .f-g-100(contenteditable) SUBSTANTIATING
        .f-g-200(contenteditable) MEGALOMANIAC
        .f-g-300(contenteditable) SHADOWBOXED
        .f-g-400(contenteditable) JURISPRUDENCE
        .f-g-500(contenteditable) OBSTREPEROUS
        .f-g-600(contenteditable) VERISIMILITUDE
        .f-g-700(contenteditable) PASQUINADING
        .f-g-800(contenteditable) APPARATCHIKS
        .f-g-900(contenteditable) HAZARDOUSLY

    #item-2.gallery-item
      .flex-stretch.stretch.txt-center
        .f-g-900.flex-evenly.bg-hl.t-3.p-v-md
          span(contenteditable) raison d’être
        .f-g-300.flex-evenly.t-3.p-v-md
          span(contenteditable) cultural malaise
        .f-g-100.flex-evenly.bg-lt.t-3.p-v-md
          span(contenteditable) Lilliputian
        .f-g-600.flex-evenly
          .t-3.p-v-md.txt-ulc(contenteditable)
            span.txt-mt.txt-ul Encephalogram
        .f-g-400.flex-evenly.bg-lt.txt-hl.t-3.p-v-md
          span(contenteditable) 
            | x = <span class="txt-numr">(5,129)</span>⁄<span class="txt-dnom">3.14 </span>
        .f-g-500.flex-evenly.bg-dk.t-3.p-v-md
          span.txt-hl(contenteditable) Makers Market
    
    #item-3.gallery-item.p-v-xxl.p-h-lg.flex-between.txt-center
      .f-g-900.t-2.p-v-sm(contenteditable) Simulation Theory
      .f-g-800.t-2.p-v-sm(contenteditable) Antipodean Climes
      .f-g-700.t-2.p-v-sm(contenteditable) Byzantine Citizenry
      .f-g-600.t-2.p-v-sm(contenteditable) Oozing Braggadocio
      .f-g-500.t-2.p-v-sm(contenteditable) Breakdances Quietly
      .f-g-400.t-2.p-v-sm(contenteditable) Peoples Government
      .f-g-300.t-2.p-v-sm(contenteditable) Double-edged Sword
      .f-g-200.t-2.p-v-sm(contenteditable) Keynesian Economics
      .f-g-100.t-2.p-v-sm(contenteditable) Foucault’s Panopticon

    #item-4.gallery-item.p-v-xxl.p-h-lg.flex-evenly.txt-center.bg-hl
      .t-4(contenteditable)
        span.f-g-200 sc_tch _n
        br
        span.f-g-500 the r_cks

    #item-5.gallery-item.p-v-xxl.p-h-xxl.flex-evenly.bg-dk
      .mx-sm
          .f-g-600.t-6.txt-hl ❣

          .f-g-300.t-1(contenteditable)
            | Svenska’s vertical asymmetry, driven by a low centre of gravity, 
            | distinguishes it from the mun&shy;dane &amp; commonplace. The  
            | font has a distinctive flair, combining closed letter-forms 
            | and tight spacing to betray the sort of independent swagger 
            | you’d expect from your typical Swedish speaker.

    #item-6.gallery-item.p-xxl.flex-evenly
      dl
        dt Font Details
        dd
          | Sans-serif with even stroke thickness. Short descenders 
          | constrast with tall ascenders, which reach well above the 
          | caps-height. A large x-height also contrasts with a low vertical 
          | center. The font thus pairs rational letterforms with unexpected 
          | proportions. Tight letter spacing.

        .col-wrap
          .col-sm
            dt Glyphs
            dd.txt-sm 1,077

          .col-sm
            dt Weights
            dd.txt-sm 9
            | &nbsp;

        dt Language Support
        dd.txt-sm 
          | Afrikaans, Albanian, Asturian, Asu, Azerbaijani, Basque, Bemba, 
          | Bena, Bosnian, Breton, Catalan, Chiga, Colognian, Cornish, 
          | Croatian, Czech, Danish, Dutch, Embu, English, Esperanto, 
          | Estonian, Faroese, Filipino, Finnish, French, Friulian, 
          | Galician, Ganda, German, Greek, Gusii, Hawaiian, Hungarian, 
          | Icelandic, Igbo, Inari Sami, Indonesian, Irish, Italian, 
          | Jola-Fonyi, Kabuverdianu, Kalenjin, Kamba, Kikuyu, Kinyarwanda, 
          | Latvian, Lithuanian, Low German, Lower Sorbian, Luo, 
          | Luxembourgish, Luyia, Machame, Makhuwa-Meetto, Makonde, 
          | Malagasy, Malay, Maltese, Manx, Meru, Morisyen, Nama, North 
          | Ndebele, Northern Sami, Norwegian Bokmål, Norwegian Nynorsk, 
          | Nyankole, Oromo, Polish, Portuguese, Quechua, Romanian, Romansh, 
          | Rombo, Rundi, Rwa, Samburu, Sango, Sangu, Scottish Gaelic, Sena, 
          | Shambala, Shona, Slovak, Slovenian, Soga, Somali, Spanish, 
          | Swahili, Swedish, Swiss German, Taita, Teso, Tongan, Turkish, 
          | Turkmen, Upper Sorbian, Uzbek, Vunjo, Walser, Welsh, Western 
          | Frisian, Yoruba and Zulu

        dt OpenType Features
        dd.txt-sm
          | Alternates, Capitals to Small Caps, Case Sensive Forms, Glyph 
          | Composition &amp; Decomposition, Discretionary Ligatures, 
          | Denominator, Fractions, Standard Ligatures, Lining Figures, 
          | Localized Forms, Numerator, Oldstyle Figures, Ordinals, 
          | Proportional Figures, Tabular Figures, Scientific Inferiors, 
          | Small Caps, Subscript and Superscript
