extends ../../partials/experiment

block vars
  - experiment = "technobabble"
  - title = "Techno Babble"

block append css
  style(type="text/css").
    body {
      background: #000;
      font-size: 0;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    img {
      width: 180px;
      height: 180px;
      display: inline-block;
    }
