extends ../../partials/experiment

block append config
  - page.title = page.experiment = "brick-a-brac/view"

block experiment
  script
    include:coffee utils/maybe.coffee
    include:coffee utils/window.coffee
    include:coffee utils/roof.coffee
    include:coffee utils/escape.coffee
    include:coffee utils/balcony.coffee
    include:coffee utils/ground.coffee
    include:coffee view.coffee
