extends ../../partials/project

block prepend config
  - var project = data.getProject("fire-truck");

block project
  :marked
    ![Truck at 3/4 Angle][1]
    ![Truck in Profile][2]
    ![Front of the Truck][3]

    ---

    Every so often I want to take a break from the digital world and make 
    something tangible. This was my second time using Ponoko, an online 
    service which can laser cut designs into a range of materials. I came up 
    with the idea while staying with my brother in Paris. His kids are 
    obsessed with diggers, cranes, steam rollers and fire engines.

    The truck is made from ~7mm thick bamboo ply with an amber finish. At some 
    point I might try it again in some of the acrylics in their range, as the 
    bamboo tends to be very weak in some points. I do like the burnt effect on 
    the cut edges, though.

    This side has the all-important fire hose, and the reverse side features a 
    simple ladder etching. The best part? No glue is needed to hold the truck 
    together. A series of interlocking components keep everything in place.

    [1]: /img/projects/fire-truck/truck-three-quarter.jpg "Three quarter view of the fire truck."

    [2]: /img/projects/fire-truck/truck-profile.jpg "The profile view of the fire truck, etched with hose and other details."

    [3]: /img/projects/fire-truck/truck-front.jpg "The front of the truck. The top peice has two sections removed to make it easier to handle. The lights on top are cut from one of these sections."

