extends ../../partials/project

block prepend config
  - var projectPath = "asterisms";

block project-full
  .col-full
    :marked
      ![Asterisms - Full Size](/img/projects/asterisms/asterisms-full.png)

  .col-lg
    :marked
      This projection distorts the night sky into a circle, giving a 
      combined view of both the northern and sourthen skys. The 
      ecliptic path can be seen swerving through the centre of the chart, as 
      can the Milky Way’s cluster of stars. This work is an adaptation of a 
      sky chart from [Allsky Asterisms][1], with many modifications and 
      liberties taken.

      [1]: http://www.armchairastronautics.blogspot.com.au/p/asterisms.html

  hr
  
  .col-sm
    p
      img(src="/img/projects/asterisms/asterisms-detail-1.png")
    
    p 
      | Detail of Betelgeuse, Orion's second brightest star

  .col-sm
    p
      img(src="/img/projects/asterisms/asterisms-detail-2.png")
    p 
      | Altair, “the flying eagle”, in the Aquila constellation

  .col-sm
    p
      img(src="/img/projects/asterisms/asterisms-detail-3.png")
    p 
      | M33 in the Triangulum constellation, one of the most distant objects 
      | visible with the naked eye

  .col-sm
    p
      img(src="/img/projects/asterisms/asterisms-detail-4.png")
    p 
      | The constellation of Leo and the awesome-sounding Al’dzhabkhakh
