// Archive

#articles
  text-align: center
  max-width: 480px
  margin: auto

  .article-link
    display: block
    text-decoration: none
    margin: 0 0 8px
    color: black
    // font-size: 21px

  .year-label,
  .month-label
    width: 200px
    margin: auto

  .year-label
    font-size: 12px

  .month-label
    padding: 0 0 16px
    margin-bottom: 16px
    border-bottom: 1px solid $border-color

  .year
    margin-bottom: 48px

  .month
    margin-bottom: 24px

  ul
    list-style: none
    margin: 0

  ul li
    margin: 0


