// Header

#header
  text-rendering: geometricPrecision
  position: fixed
  top: 0
  z-index: 10
  width: 100%
  background-color: transparentize($steel, 0.12)
  +transition(background-color 250ms)

  a
    color: $charcoal

  #header-title,
  #header-nav
    +transform(translate3d(0, 0, 0))
    +transition(transform 250ms)

  .hide-nav &
    background-color: transparentize($steel, 1)

    #header-title
      +transform(translate3d(-100%, 0, 0))

    #header-nav
      +transform(translate3d(100%, 0, 0))

  #header-title
    float: left
    font: 15px/1em $title
    padding: 16px 24px
    margin: 0

    em
      font-style: normal
      position: relative
      top: 1px
      text-decoration: none
      display: inline-block

    a
      display: block
      font-size: 1.5em
      padding: 0.75em 0

      #about &
        font-size: 1em
        padding: 0

      &:before
        content: ""
        display: inline-block
        width: 1em
        height: 1em
        background-color: $charcoal
        margin-right: 0.5em
        margin-bottom: -0.2em
        +transition(transform 300ms)
        +transform(translateZ(0) scale(1) rotate(45deg))

      &:focus,
      &:hover
        &:before
          +transform(translateZ(0) scale(1.1) rotate(45deg))

  #header-nav
    float: right
    text-align: right
    padding: 24px
    line-height: 1em
    text-transform: uppercase

    a
      font-family: $title
      font-weight: normal
      display: block
      -webkit-tap-highlight-color: transparent
      +transition(all 250ms)

      &:hover,
      &:focus
        +transform(translate3d(-10px, 0, 0))

      &.active
        color: $gold
        +transform(translate3d(0, 0, 0))
