// Projects

#projects
  overflow: hidden

  .project
    width: 300px
    min-height: 300px
    margin: 20px
    float: left
    position: relative
    overflow: hidden
    margin-bottom: 16px
    display: block

    .img
      height: 160px
      margin: 0 auto 12px
      display: block
      background-color: $steel
      background-size: cover

    .desc
      margin-bottom: 0

    &:hover
      text-decoration: none

      .name
        text-decoration: underline
