extends ../partials/layout

block append config
  - page.class = "page-chat-bot";
  - page.title = "Want to chat?";
  - page.description = "While away your time with recommendations, idle chit-chat and alliterative suggestions.";
  - page.navigation = [{ href: "/", title: "Portfolio" }];

block body
  .header-container
    .p-v-xxl.content-wrap
      include ../partials/header

  #message(data-view="views/chat" data-require="/js/chat.js")
    .content-wrap
      h1#message-content
      p#message-author
