extends layout

block description
  h1#article-title= page.title
  #article-date!= moment(page.metadata.date).format("MMMM D, YYYY")

block content
  article.article.content-wrap

    section.content
      != typogr(page.html).typogrify()

    a(href=contents.writing.index.url) &larr; Thinking


