extends layout

block append config
  - bodyClass = "about";

block description

block content
  #about.content-wrap
    h1#about-name
      em#about-name-em Hi, I'm
      #about-name-me
        for char, i in "Stephen Hutchings".split("")
          if char === " "
            br
          else
            span.char(class="char-#{i}")= char

    h2#about-colo
      != typogr(contents.partials['about.md'].html).typogrify()
