extends layout

block content
  section#projects
    for project in locals.page.metadata.projects
      a.project(href=project.url)
        .img(style="background-image:url(#{project.img})")
        h3.name=project.name
        p.desc=project.desc
