extends layout

block content
  - var articles = locals._.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
  -   return item.date.getFullYear()
  - }).value()
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

  section#thinking: .content-wrap
    each year, i in _.chain(articles).keys().reverse().value()

      - var yearArticles = _.groupBy(articles[year], function(item) {
      -  return map[item.date.getMonth()];
      - });
      - var months = Object.keys(yearArticles);

      .article-year
        each month, i in months
          - var articles = yearArticles[month]
          .article-month
            .article-label
              if i == 0
                .article-label-year= year

              .article-label-month= month

            each article, i in articles
              .article
                h3
                  a(href=article.url)= article.title

                != typogr(article.intro).typogrify()
