.page-chat-bot
  color: #fff
  overflow: hidden
  padding-bottom: 0 !important

  .header-container
    position: absolute
    width: 100%

#message
  background: #222
  display: flex
  align-items: center

#message-content
  font-size: 48px

  @media (max-width: 480px)
    font-size: 28px

  a
    border-bottom-color: transparent
    color: $highlight
    transition: border-color 300ms

    &:hover
      border-bottom-color: inherit
