.page-typicons
  #icon-container
    text-align: center

  .icon-grid
    margin: 0 -8px
    line-height: 32px

  .icon
    padding: 4px
    border-radius: 2px
    transition: all 300ms
    font-size: 24px
    height: 32px
    line-height: inherit

    &.active
      background: rgba(#fff, 0.2)

    &.inactive
      opacity: 0.2

  #icon-search-bar
    position: relative
    border: 1px solid
    border-radius: 3px
    color: #fff

    .typcn
      float: left
      font-size: 24px

  #icon-details
    display: block
    height: 40px
    line-height: 40px
    padding: 0 0.5em
    text-align: left

    .icon-img
      width: 1.5em
      height: 1.5em
      fill: currentColor
      margin-top: -0.25em
      display: inline-block
      vertical-align: middle

    .icon-name
      margin: 0 0.33em

    .icon-code
      opacity: 0.8

    .icon-class
      color: inherit
      background: rgba(#fff, 0.2)
      line-height: 24px

  #icon-search
    font: inherit
    border: none
    width: 100px
    height: 40px
    background: #fff
    border-radius: 2px 0 0 2px
    padding: 0 0.5em
    margin: 0
    -webkit-appearance: none

    &:focus
      outline: none
      background: #fff

  .hover,
  .search
    #icon-search-bar
      color: #fff
      border-color: #fff

  .search
    #icon-search
      color: #222
      background: #fff

  .donate-btn
    font-family: inherit
    font-size: inherit
    font-weight: inherit
    padding: 0
    margin: 0
    border-width: 0 0 1px
    border-style: solid
    border-color: currentColor
    display: inline
    background: none
    border-radius: 0
    -webkit-appearance: none

    &:hover
      @extend %cursor-hand
      border-bottom-width: 2px

  @media (min-width: 1280px) and (min-height: 720px)
    .gallery-item:first-child
      max-width: 960px
      padding-left: 10%
      padding-right: 10%

    .icon
      width: 4.7619047619%
      font-size: 28px
      max-width: none

  @media (max-width: 380px)
    .icon
      width: 7.25%
      font-size: 20px
