extends ../../partials/project

block prepend config
  - var project = data.getOne("fonts",  "confidential");

block append article
  .gallery
    #item-1.gallery-item.p-xxl.flex-evenly.bg-hl
      .t-4.f-g-700(contenteditable)
        span thankfully.

    #item-2.gallery-item.p-xxl.flex-evenly
      .t-4.f-g-700(contenteditable)
        span.txt-hl Yes! No.<br>
        span Maybe?<br>
        span.txt-mt Not sure...

    #item-3.gallery-item.p-v-xxl.p-h-xl.flex-evenly.bg-lt
      .mx-md
        .t-1.f-g-400(contenteditable)
          | A portmanteau is a piece of luggage, usually made of leather and 
          | opening into two equal parts. Some were large, upright, and hinged 
          | at the back and enabled hanging up clothes in one half, while 
          | others are much smaller bags (such as Gladstone bags) with two 
          | equally sized compartments. The word derives from the French 
          | word portemanteau (from porter, “to carry”, and manteau, 
          | “coat”), which nowadays means a coat rack but was in the past 
          | also used to refer to a traveling case or bag for clothes.

    #item-4.gallery-item.p-xxl.flex-evenly.bg-dk
      .f-g-600.mx-md(contenteditable)
        for glyph in project.font.glyphs
          =glyph
