extends ../../partials/project

block prepend config
  - var project = data.getOne("projects",  "typicons");

block prepend head
  meta(http-equiv="refresh" content="5;URL=/typicons") 
  link(rel="canonical" href="https://s-ings.com/typicons/")

block article
  .gallery.txt-center.bg-hl
    .gallery-item.flex-evenly.pv-xxl
      p This content has moved. Please wait while you are redirected...
